@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-graphite-950 text-offwhite-100 font-sans tracking-tight;
  }
}

/* Custom minimal scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #111317;
}

::-webkit-scrollbar-thumb {
  background: #2A303C;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0D9488;
}
